<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
</head>

<body>
    <div class="video-container">
        <video autoplay muted loop id="bg-video">
            <source src="../gallery/videos/video (2160p).mp4" type="video/mp4" />
        </video>
        <div id="heading">
            <div>
                <p>FitFlow</p>
            </div>
        </div>
        <nav>
            <ul>
                <li class="feature"><a href="/home"> Home</a></li>
                <li class="feature"><a href="/CalorieTracker">Calorie Calculator</a></li>
                <li class="feature"><a href="/ActivityTracker">Activity Tracker</a></li>
                <li class="feature"><a href="/CommunitySupport">Community Support</a></li>
                <li class="feature"><a href="/Platform">Guidance</a></li>
            </ul>
        </nav>
    </div>

    <div class="content-container">
        <!-- Content goes here -->
        <video autoplay muted loop id="bg-video1">
            <source src="../gallery/videos/ELITE.mp4" type="video/mp4" />
        </video>
    </div>
    <h1>Check out</h1>
    <div class="content2">



    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer-logo">
                <!-- Place your logo image here -->
                <img src="../gallery/photos/Fitflow_Logo.jpeg" alt="Logo">
            </div>
            <div class="footer-info">
                <h2>About Us</h2>
                <p>Our platform offers a comprehensive range of tools and resources to help you on your path to
                    wellness. From personalized workout plans and nutrition guidance to community challenges and expert
                    advice, we've got everything you need to succeed.

                    Whether you're looking to shed a few pounds, build muscle, or simply improve your overall health,
                    FitFlow is here to help you reach your goals. Join our community today and let's embark on this
                    journey together!</p>
            </div>
            <div class="contact">
                <h2>Contact Us</h2>
                <p>Phone: <span class="phone-number">+91 9820741785</span></p>
                <p>Email: <a href="mailto: mathiasjostan@gmail.com" class="email">mathiasjostan@gmail.com</a></p>
            </div>
        </div>
    </footer>



    <script src="../static/js/home.js"></script>

</body>

</html>