<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Platform</title>
    <link rel="stylesheet" type="text/css" href="../static/css/platform.css">
</head>
<body>
    <header>
        <h1>GUIDANCE</h1>
        
    </header>
    <input type="text" id="search-bar" placeholder="Search videos by title">
    <div id="video-container" class="container">
        <!-- Video thumbnails will be dynamically added here -->
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer-logo">
                <!-- Place your logo image here -->
                <img src="../gallery/photos/Fitflow_Logo.jpeg" alt="Logo">
            </div>
            <div class="footer-info">
                <h2>About Us</h2>
                <p>Our platform offers a comprehensive range of tools and resources to help you on your path to wellness. From personalized workout plans and nutrition guidance to community challenges and expert advice, we've got everything you need to succeed.
    
                Whether you're looking to shed a few pounds, build muscle, or simply improve your overall health, FitFlow is here to help you reach your goals. Join our community today and let's embark on this journey together!</p>
            </div>
            <div class="contact">
                <h2>Contact Us</h2>
                <p>Phone: <span class="phone-number">+91 9820741785</span></p>
                <p>Email: <a href="mailto: mathiasjostan@gmail.com" class="email">mathiasjostan@gmail.com</a></p>
            </div>
        </div>
    </footer>
    

    <script src="../static/js/platform.js"></script>
</body>
</html>
